// Fonts
@font-face {
    font-family: "gant_modern";
    src: url("https://xn--jugueterianodejesdesoar-dic.es/themes/leo_teddy/assets/fonts/modern-bold-webfont.woff2")
            format("woff2"),
        url("https://xn--jugueterianodejesdesoar-dic.es/themes/leo_teddy/assets/fonts/modern-bold-webfont.woff")
            format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "gant_modern";
    src: url("https://xn--jugueterianodejesdesoar-dic.es/themes/leo_teddy/assets/fonts/modern-medium-webfont.woff2")
            format("woff2"),
        url("https://xn--jugueterianodejesdesoar-dic.es/themes/leo_teddy/assets/fonts/modern-medium-webfont.woff")
            format("woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "gant_modern";
    src: url("https://xn--jugueterianodejesdesoar-dic.es/themes/leo_teddy/assets/fonts/modern-regular-webfont.woff2")
            format("woff2"),
        url("https://xn--jugueterianodejesdesoar-dic.es/themes/leo_teddy/assets/fonts/modern-regular-webfont.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
}

@mixin text-contrast($n) {
    $color-brightness: round(
        (red($n) * 299) + (green($n) * 587) + (blue($n) * 114) / 1000
    );
    $light-color: round(
        (red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114) /
            1000
    );

    @if abs($color-brightness) < ($light-color/2) {
        color: white;
    } @else {
        color: black;
    }
}

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

body {
    font-family: "gant_modern";
}

header {
    background: #fe4a4a;
    .nav-link {
        text-transform: uppercase;
        color: #fff;
    }
}

.img-juguete {
    max-height: 200px;
}

tr.agotado td {
    background-color: #eb5867;
}

td {
    div.dropdown a.cambiar-estado {
        text-decoration: none;
        color: #000;
    }
    span.estado {
        padding: 5px 10px;
        border-radius: 4px;
        //color: #000;
        @include text-contrast(#000);
    }
}

footer {
    background-color: #222;
    color: #fff;
}
